html,body {
    height: 100%;
    width:  100%;
}

.button{
    padding: 20px;
    margin: 0 3px;
    border: 2ox solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 5px 0;
}

.row input{
    font-size: 15px;
    margin: 0;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 5px;
} 
.text-center{
    text-align: center;
}

.mx-auto{
    margin: auto;
}
.flex{
   display: flex;
}
.flex-col{
  flex-direction: column;
}
.items-center{
    align-items: center;
}
 .mx-auto{
    background-color: hsl(187deg 56% 56% / 54%);;
    background-size: center;

 }
 .container{
    max-width: 304px;
 }